---
import Layout from '../layouts/Layout.astro';
---

<Layout >
  <main class="flex flex-col h-screen place-items-center py-5">
    <h1 class="md:text-8xl text-3xl font-bold md:p-50 p-5">404</h1>
    <span>
    Lost? Best head
    <a class="underline decoration-ctp-mauve hover:text-ctp-red" href="./">home</a> friend.
    </span>
 </main>
</Layout>