---
import Layout from "../layouts/Layout.astro";
import SocialLink from "../components/SocialLink.astro";
---

<Layout>
  <main flex flex-col lg:flex-row place-items-center py-5 lg:h-screen>
    <div mx-auto text-center>
      <img md:w-125 w-80% mx-auto src="/logo.svg" />
      <h1
        md:text-7xl
        text-5xl
        font-black
        text-ctp-rosewater
        font-mono-casual
        md:p-10
        p-5
      >
        Daylin Morgan
      </h1>
    </div>
    <ul md:flex flex-col mx-auto>
      <SocialLink
        name="My Git Server"
        href="https://git.dayl.in"
        icon="i-fa6-brands-git-alt"
      />
      <SocialLink
        name="Github"
        icon="i-fa6-brands:github"
        href="https://github.com/daylinmorgan/"
      />
      <SocialLink
        name="LinkedIn"
        icon="i-fa6-brands:linkedin"
        href="https://www.linkedin.com/in/daylinmorgan/"
      />
      <SocialLink
        name="Google Scholar"
        icon="i-academicons:google-scholar"
        href="https://scholar.google.com/citations?user=UyM13eUAAAAJ&hl=en"
      />
      <SocialLink
        name="Email"
        icon="i-fa6-solid:envelope"
        href="mailto:me@dayl.in"
      />
    </ul>
  </main>
</Layout>
