---
const {
	title = 'daylin morgan',
	description = 'personal site of daylin morgan',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<link rel="icon" type="image/x-icon" href="/logo.svg" />
