---
import Layout from '../layouts/Layout.astro';
import SocialLink from '../components/SocialLink.astro'
---

<Layout >
  <main class="flex flex-col h-screen place-items-center py-5">
    <img class="md:w-1/4 w-2/3" src="/logo.svg" />
    <h1 class="md:text-7xl text-3xl font-bold md:p-10 p-5">Daylin Morgan</h1>
    <h2 class="md:text-2xl text-xl md:p-5 p-2">See more at the links below.</h2>
    <ul class="md:flex grid grid-cols-2 mx-auto">
      <SocialLink name="My Git Server" href="https://git.dayl.in" icon="i-fa6-brands-git-alt" />
      <SocialLink name="Github" icon="i-fa6-brands:github" href="https://github.com/daylinmorgan/" />
      <SocialLink name="Twitter" icon="i-fa6-brands:twitter" href="https://twitter.com/tweetsbydaylin/" />
      <SocialLink name="LinkedIn" icon="i-fa6-brands:linkedin" href="https://www.linkedin.com/in/daylinmorgan/" />
      <SocialLink name="Google Scholar" icon="i-academicons:google-scholar"
        href="https://scholar.google.com/citations?user=UyM13eUAAAAJ&hl=en" />
      <SocialLink name="Email" icon="i-fa6-solid:envelope" href="mailto:me@dayl.in" />
    </ul>
  </main>
</Layout>