{{ define "og-title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "content" }}

{{ $years := slice }}
{{ $publications := slice}}
{{ range $key,$publ := $.Site.Data.publications }}
  {{ $publications = $publications | append $publ }}
  {{ $years = $years | append $publ.year }}
{{ end }}
{{ $years = sort (uniq $years) "value" "desc" }}

<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
    <ul>
    {{ range $year := $years }}
    <h3> {{ $year }} </h3>
      {{ range $publ := where $publications "year" $year }}
      <li>
        <publication>
          {{ $authornum := len .authors }}
            {{ range $index, $author := .authors }}
            {{ if eq ( $author ) "Morgan, D."}}
              <b>{{$author}}</b>,
            {{ else if eq (add $index +1) $authornum}}
                and {{ $author }}
            {{else}}
              {{ $author }},
            {{ end }}
          {{ end }}
          {{ .title }}. <i> {{ .journal }}.</i> ({{ .year }})
        </publication>
        {{ if .doi }}
        <a href="https://doi.org/{{.doi}}"> DOI.</a>
        <br><br>
        {{end}}
      </li>
      {{ end }}
    {{ end}}
  </ul>
</section>
{{end}}